html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: border-box;
}
header {
  position: absolute;
  background-color: #f2f2f2;
  width: 100%;
  top: 0;
}
h1 {
  margin: .5em;
  padding-top: .25em;
  font-size: 1.3em;
}
ul {
  display: inline-flex;
  margin-top: .5em;
  padding-top: .25em;
}
li {
    list-style:none;
    font-size: 1.3em;
    margin-left: .75em;
}
button {
display: inline-flex;
}
a {
  text-decoration: none;
  color: purple;
}
main {
 margin-top: 5em;
}
